* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

.light-theme {
	--primary-color: #edf2fc;
	--secondary-color: #212121;
}
:root {
	--primary-color: linear-gradient(rgb(59, 59, 59), rgb(17, 17, 18));
	--secondary-color: #fff;
}

body {
	color: var(--secondary-color);
	background: var(--primary-color);
}
#hero {
	width: 100%;
	height: 100vh;
}
#icon {
	cursor: pointer;
	width: 30px;
	font-size: 24px;
	color: var(--secondary-color);
}
nav ul {
	flex: 1;
	text-align: right;
}
#hero {
	height: 100vh;
	width: 100%;
	background: var(--primary-color);
	font-family: sans-serif;
	position: relative;
}
nav {
	background: var(--primary-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	width: 100%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	/* position: fixed;
	top: 0;
	left: 0;
	right: 0; */
}
nav h1 {
	padding-left: 50px;
	width: 100px;
	cursor: pointer;
	color: var(--secondary-color);
}
span {
	color: #ff4321;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a {
	text-decoration: none;
	color: var(--secondary-color);
	font-size: 16px;
	position: relative;
}
nav ul li a::after {
	content: "";
	width: 0;
	height: 3px;
	background: #ff4321;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after {
	width: 100%;
}
nav i {
	padding-right: 50px;
}
.info {
	margin-left: 8%;
	margin-top: 15%;
}
.info h2 {
	font-size: 70px;
	color: var(--secondary-color);
	margin-bottom: 20px;
}
.info p {
	color: var(--secondary-color);
	line-height: 22px;
}
.info a {
	background: var(--secondary-color);
	padding: 10px 18px;
	text-decoration: none;
	color: #ff4321;
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}
.img-box {
	width: 45%;
	height: 80%;
	position: absolute;
	bottom: 0;
	right: 100px;
}
.img-box img {
	height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: bottom 1s, left 1s;
}
.img-box .main-img {
	height: 110%;
}
.img-box:hover .back-img {
	bottom: 40px;
}
.img-box:hover .main-img {
	left: 54%;
}
.socials{
	position: relative;
	margin-top: 9rem;
}
.socials .social-links {
	margin-left: 8%;
	margin-top: 50px;
	list-style: none;
	display: flex;
}
.social-links a {
	font-size: 30px;
	margin-right: 20px;
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 26px;
	/* color: #00d9ff; */
	color: var(--secondary-color);
	background-color: var(--primary-color);
	padding: 10px 10px;
	text-align: center;
	border-radius: 100%;
	transition: transform 0.5s;
}
.social-links a:hover {
	color: #fff;
	background-color: #0685da;
	transform: translateY(-5px);
}
.social-links a.linkedin:hover {
	background: #109dde;
}
.social-links a.github:hover {
	background: #0e0e0e;
}
.social-links a.twitter:hover {
	background: #0e0e0e;
}

.back-to-top {
	height: 44px;
	width: 44px;
	border: none;
	outline: none;
	border-radius: 50%;
	color: #fff;
	background-color: #ff004f;
	position: relative;
	z-index: 100;
	left: 1400px;
	bottom: 100px;
	position: sticky;
	top: 90vh;
	display: inline-block;
	animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1.6rem);
	}
	100% {
		transform: translateY(0);
	}
}
.back-to-top:hover {
	/* background-color: #0056b3; */
	transform: scale(1.1);
}
.back-to-top i {
	text-align: center;
	margin: 10px;
	position: relative;
	top: 5px;
	left: 5px;
	color: #fff;
}

/* ----about----- */
#about {
	padding: 50px 10px;
	/* color: var(--secondary-color);
    background: var(--primary-color); */
}
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1 {
	flex-basis: 35%;
}
.about-col-1 img {
	width: 100%;
	border-radius: 15px;
	border: 5px solid #ff4321;
}
.about-col-2 {
	flex-basis: 60%;
}
.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: var(--secondary-color);
}
.tab-titles {
	display: flex;
	margin: 20px 0 40px;
}
.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after {
	content: "";
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after {
	width: 50%;
}
.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span {
	color: #b54769;
	font-size: 14px;
}
.tab-contents {
	display: none;
}
.tab-contents.active-tab {
	display: block;
}

/* ---services---- */

#services {
	padding: 50px 0;
}
.container {
	/* color: var(--secondary-color);
    background: var(--primary-color); */
	margin: 90px;
}
.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.services-list div {
	/* background: var(--secondary-color);
    color: var(--primary-color); */
	background: transparent;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	padding: 40px;
	font-size: 13px;
	font-weight: 400;
	border-radius: 20px;
	transition: background 0.5s, transform 0.5s;
}
.services-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}
.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.services-list div a {
	text-decoration: none;
	color: blue;
	background: yellow;
	border-radius: 30px;
	height: 25px;
	width: 50px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover {
	background: #ff004f;
	transform: translateY(-10px);
}

/* ----portfolio---- */

#portfolio {
	padding: 50px 0;
}
.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.work {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img {
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
	color: var(--primary-color);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.layer h3 {
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a {
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: var(--secondary-color);
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.work:hover img {
	transform: scale(1.1);
}
.work:hover .layer {
	height: 100%;
}
.bttn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #ff004f;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: var(--secondary-color);
	transition: background 0.5s;
	position: relative;
}
.bttn:hover {
	background: #ff004f;
}
.hover-msg::after {
	content: "go to my github acc."; /* Text to show on hover */
	margin-top: 10px;
	position: absolute;
	left: 15px;
	top: 100%; /* Positioned below the button */
	opacity: 0; /* Initially hidden */
	transition: opacity 0.3s ease-in-out;
}
.hover-msg:hover::after {
	opacity: 1; /*after hover it is vissible */
}
/* ----contact----- */

#contact-me {
	transition: transform 0.5s;
}
.content-left {
	flex-basis: 35%;
}
.content-right {
	flex-basis: 60%;
}
.content-left p {
	margin-top: 30px;
	margin-left: 10px;
}
.content-left p i{
	line-height: 44px;
	color: #00d9ff;
	background-color: #09011b;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	position: relative;
	top: 8px;
}
.bttn.bttn2 {
	display: inline-block;
	background: #ff004f;
}
.content-right form {
	width: 100%;
}
form input,
form textarea {
	width: 100%;
	border: none;
	outline: none;
	background: var(--primary-color);
	padding: 15px;
	margin: 15px 0;
	color: var(--secondary-color);
	font-size: 18px;
	border-radius: 6px;
    border: 1px solid red;
}
form .bttn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.social ul li{
	
	
}

/* --copyright--- */
.copyright {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: var(--primary-color);
	font-weight: 300;
	margin-top: 20px;
    border-top: 1px solid red;
}
